{% extends "main/layout.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p align="center"><img src="../static/main/img/we.jpg" width="100%"></p>
        <p> Московский государственный технический университет имени Н.Э. Баумана (МГТУ имени Баумана) является одним из ведущих технических университетов России. Он был основан в 1830 году
            и на сегодняшний день является одним из самых престижных учебных заведений в области инженерии и технических наук. </p>
        <button class="btn btn-primary">Просто кнопка</button>
    </div>
{% endblock %}