{% extends "main/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p> На данном сайте вы можете узнать о жизни ведущего технического университета Москвы - государтсвенного технического университета имени Н. Э. Баумана.<br>
           <b><h4>Новости представлены по таким разделам как:</h4></b>

                {% for el in values %}
                    <p><i class="fa-solid fa-angles-right fa-beat-fade"></i>  {{ el }}</p>
                {% endfor %}

        <a href="{% url 'about' %}"><button class="btn btn-primary">Про нас</button>

        </p>

    </div>
{% endblock %}