{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/42a56fb367.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


</head>
<body>
    <aside>
        <img src="{% static 'main/img/bmstu.png' %}" alt="Лого">
        <span class="logo">BMSTU</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house fa-xl"></i></i>Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-circle-info fa-xl"></i></i>Про нас</li></a>
            <a href="{% url 'contacts' %}"><li><i class="fa-solid fa-address-card fa-xl"></i></i>Контакты</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa-regular fa-newspaper fa-xl"></i></i>Новости</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить новость</li></a>
            <a href="{% url 'register' %}"><li><button class="btn btn-secondary"></i>Регистрация</li></a>
            <a href="{% url 'login' %}"><li><button class="btn btn-secondary"></i>Авторизация</li></a>

        </ul>

    </aside>

    <main>
        {% block  content%}
        {% endblock %} 
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>