{% extends "main/layout.html" %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p> RFRFRRRRRR RRRRRRRRRRRRRRR GRGRGGGGGGGGGgt g tgt gtg t tg h yh y hy h yh y hy h t gt g tg tg tgtg t gt g t gGGGGGGGGGG</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values %}
            {% if el == "hello" %}

                <p>{{ el| upper }}</p>

            {% endif %}
        {%endfor%}

        {% for el in obj %}
            <p>{{ el }}</p>
        {%endfor%}

    </div>
{% endblock %}