<!-- login.html -->

{% extends "main/layout.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
     <div class="features">
  <h2>Авторизация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    <button class="btn btn-success" type="submit">Авторизация</button>
  </form>
      </div>
{% endblock %}